# fly.toml app configuration file generated for courseinfo-pine on 2026-02-15T16:54:03Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'courseinfo-pine'
primary_region = 'cdg'

[build]

[env]
  PORT = "3001" # add this

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
